<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>About</title>
</head>

<body>
    <div class="container">
        @* bootstrap nav *@
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/redirectProject">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/redirectContact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            <h1 id="about-head" class="display-4">About Me</h1>
        <div id="about-container">
            <div id="about-pic-div">
            <img src="~/imgs/travis.jpg" alt="travis" id="about-pic">
             <h4>Travis $cott</h4>
             <h4>"Its Lit"</h4>
            </div>
        
            <div id="about-text">
                Jacques Bermon Webster II,(born April 30, 1991)known professionally as Travis Scott (formerly stylized as Travi$ Scott), is an American rapper, songwriter, and record producer. His stage name is the namesake of a favorite uncle combined with the first name of one of his inspirations, Kid Cudi (whose real name is Scott Mescudi).
            </div>
        </div>
    </div>

</body>

</html>